@model Web.ShareModels.ViewModels.ProductPaginationVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model.items)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" style="width:213px; height:54px;">
                        <label style="font-size:23px;color:steelblue;">@product.Name</label>
                    </h4>
                </div>

                <img class="card-img-top" style="height:450px;" src="@product.GetFirstImage()" alt="Card Image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <p style="font-size:20px; color:#a51313;"><b>Giá:@product.Price</b> VNĐ</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <p style="font-size:20px; color:#a51313;"><b>Đánh giá: @product.RateAvg()</b>&nbsp;<i class="fas fa-star" style="color:yellow;"></i></p>
                        </div>
                    </div>
                    @if (product.Quantities != 0)
                    {
                        <a style="width: 100%;" asp-action="Details" asp-controller="Product" class="btn btn-success" asp-route-name="@product.GetNameUri()" asp-route-id="@product.Id">Xem thêm</a>
                    }
                    else
                    {
                        <a style="width: 100%;" asp-action="Details" asp-controller="Product" class="btn btn-danger" asp-route-name="@product.GetNameUri()" asp-route-id="@product.Id">Hết hàng</a>
                    }
                </div>

            </div>
        </div>
    }
</div>

@*<div style="display: flex; justify-content: center;">
    <ul class="pagination">
        @if (Model.previousPage == "Yes")
        {
            <li class="page-item">
                <a asp-controller="Home" asp-action="index" asp-route-pageNumber="@(Model.currentPage - 1)" class="page-link">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a asp-controller="Home" asp-action="index" asp-route-pageNumber="@(Model.currentPage - 1)" class="page-link">Previous</a>
            </li>
        }
        @if (Model.nextPage == "Yes")
        {
            <li class="page-item">
                <a asp-controller="Home" asp-action="index" asp-route-pageNumber="@(Model.currentPage + 1)" class="page-link">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a asp-controller="Home" asp-action="index" asp-route-pageNumber="@(Model.currentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>*@
@{ 
    PaginateRouteVm route = new PaginateRouteVm()
    {
        ControllerName = "Home",
        ActionName = "index",
        totalCount = Model.totalCount,
        pageSize = Model.pageSize,
        currentPage = Model.currentPage,
        totalPages = Model.totalPages,
        previousPage = Model.previousPage,
        nextPage = Model.nextPage
    };
}

<partial name="_PaginatePartial" model="route" />