@model Web.ShareModels.ViewModels.ProductVm

<form method="post">
    <div class="p-5 border rounded">
        <div class="form-group row ">
            <div class="col-6" style="width:100%; text-align: center;">
                <img class="img-responsive" style="width:340px; height:497px;" src="@Model.GetFirstImage()" />
            </div>
            <div class="col-6">

                <div class="product-name">
                    <h1>@Model.Name</h1>
                </div>
                <hr />
                <p>
                    <span class="item-title">Mã sản phẩm:</span>
                    <span>
                        <strong>
                            @Model.Id
                        </strong>
                    </span>
                </p>
                <p>
                    <span class="item-title">Mô tả: @Model.Description</span>
                </p>
                <p>
                    <span class="item-title">Thể loại: @Model.CategoryName</span>
                </p>
                <p>
                    <span class="item-title">
                        Đánh giá: @for (int i = 0; i < Math.Floor(Model.RateAvg()); i++)
                        {
                            <i class="fas fa-star" style="color:yellow;"></i>
                        }
                        @if (Model.RateAvg() - Math.Floor(Model.RateAvg()) != 0)
                        {
                            <i class="fas fa-star-half-alt" style="color:yellow;"></i>
                        }
                        @for (int j = (int)Math.Ceiling(Model.RateAvg()); j < 5; j++)
                        {
                            <i class="far fa-star" style="color:yellow;"></i>
                        }
                        &nbsp; ( Có @Model.Rates.Count đánh giá )
                    </span>
                </p>
                <p class="availability in-stock">
                    <span class="item-title">
                        <i>Số lượng: </i>
                    </span>
                    <span>
                        <strong>
                            @Model.Quantities
                        </strong>
                    </span>
                </p>
                <div class="price-box">
                    <h3>@Model.Price.ToString().Insert(3, ".") VNĐ</h3>
                </div>
                <span class="star-rating star-5">
                    <input type="radio" id="Rank" name="Rank" value="1"><i></i>
                    <input type="radio" id="Rank" name="Rank" value="2"><i></i>
                    <input type="radio" id="Rank" name="Rank" value="3"><i></i>
                    <input type="radio" id="Rank" name="Rank" value="4"><i></i>
                    <input type="radio" id="Rank" name="Rank" value="5"><i></i>
                </span>
                <div class="add-to-box">
                    <button type="submit" value="Add to bag" asp-action="SetRating" asp-controller="Ratings" asp-route-id="@Model.Id" class="btn btn-primary form-control">Gửi đánh giá của bạn</button>
                </div>
            </div>
        </div>
    </div>
</form>